.navbar-custom {
  background-color: #FFF;
  color: #575757;
}

.effect1 {
  -webkit-box-shadow: 0 5px 6px -6px #777;
     -moz-box-shadow: 0 5px 6px -6px #777;
          box-shadow: 0 5px 6px -6px #777;
        }

.nav-link, .navbar-brand, .nav-item{
  color: #575757;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-item:hover {
  color: #3F6C45;
}
