
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom effect1">
      <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <!-- Links -->
          <ul class="navbar-nav mr-4">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbardropdown">
                Categories
              </a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">home</a>
                <a href="#" class="dropdown-item">recipes</a>
                <a href="#" class="dropdown-item">organization</a>
                <a href="#" class="dropdown-item">beauty</a>
                <a href="#" class="dropdown-item">essential oils</a>
                <a href="#" class="dropdown-item">pups</a>
                <a href="#" class="dropdown-item">travel</a>
              <!-- Dropdown menu links -->
              </div>
            </li>
          </ul>
        <!-- Dropdown menu -->
          <ul class="navbar-nav">

          </ul>

      <!-- Links -->

      <!-- Social Icon  -->
          <ul class="navbar-nav nav-flex-icons ">
            <li class="nav-item">
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
<!-- Collapsible content -->
    </nav>
